.menu  {
    display: flex;
    justify-content: space-evenly;  /* espaçamentos iguais entre os elementos no flex */
    align-items: center; /* alinha os elementos do flex  ao centro na vertical */
    flex-wrap: wrap;   /* faz com que os elementos quando nao cabe na linha flex passa para linha debaixo*/
    column-gap: 75px; /* serve para criar uma lacuna vertical entre os elementos*/ 
    
}



.categorias__lista {
    display: flex; 
    flex-direction: column; /* Trransforma o flex linha em flex coluna */
    row-gap: .5rem; /* Espaçamento em linha entre os elementos*/
}

.destaques {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 35px;
}

.destaques__barra {
    flex-grow: 1; /* A medida que aumenta a tela a linha barra aumenta junto ou diminui*/ 
}

.eventos__lista , .agenda__lista {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1rem;   
    justify-content: center;
}

.eventos__item {
    flex-grow: 1;
    max-width: 400px    ;
}

@media (min-width: 720px) {
    .menu {
        column-gap: 75px;
    }

    .categorias__lista {
        flex-wrap: wrap;
        column-gap: 1.5rem;
        row-gap: 1rem;
    }    

    .eventos__lista {
        justify-content: end;
    }
}

@media (min-width: 1440px) {
    .menu {
        column-gap: 105px;
        flex-wrap: nowrap;
    }

    .menu__item:nth-child(1) { /* Ordena os elementos do HEADER (cabeçalho)*/ 
        order: 1;
    }

    .menu__item:nth-child(2) { /* Ordena os elementos do HEADER (cabeçalho)*/ 
        order: 3;
    }

    .menu__item:nth-child(3) { /* Ordena os elementos do HEADER (cabeçalho)*/ 
        order: 4;
    }

    .menu__item:nth-child(4) { /* Ordena os elementos do HEADER (cabeçalho)*/ 
        order: 5 ;
    }

    .menu__item:nth-child(5) { /* Ordena os elementos do HEADER (cabeçalho)*/ 
        order: 2 ;
    }

}